@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
    /* Color in Hex */
    --kolor1: #BF6B82; 
    --kolor2: #D9A9B6; 
    --kolor3: #F2D0D9; 
    --kolor4: #D96C9F; 
    --kolor5: #F1F2F0; 
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none !important;
    outline: none !important;
    font-weight: 400;
    transition: all .3s linear;
}
*::selection{
    background: black;
    color: white;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--kolor5);
}

header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 2rem 1rem;
    z-index: 100;
    text-transform: capitalize;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .container .logo{
    font-size: 3rem;

}
header .container .logo span{
    color:var(--kolor4)
}
header a{
    color: black;

}
header a:hover{
    color:var(--kolor4);
    
}
nav ul{
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex;
    justify-content: space-between;
    list-style: none;
}
ul li{
    margin: 0 1.5rem;
}
ul li a{
    font-size: 2rem;
    text-decoration: none ;
    white-space: nowrap;
}
.logo{
    text-decoration: none;
}
.fa-bars{
    font-size: 4rem;
    cursor: pointer;
    display: none;
    color: var(--kolor4);
}

header .fa-times{
    transform: rotate(180deg);
}


/* media */
@media(max-width:768px){
    html{
        font-size: 50%;
    }
    .fa-bars{
        display: block;
    }
    .nav{
        position: fixed;
        top: -100%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        border-radius: 2.5rem !important;
        border: .3rem solid var(--kolor4) !important;
        background:var(--kolor5); 
        width: 90%;
        opacity: 0;
    }
    .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }
    .nav ul li{
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav ul li a{
        font-size: 2.5rem;
        display: inline-block;
    }
    .nav-toggle{
        top: 50%;
        opacity: 1;
    }
}






