@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
    /* Color in Hex */
    --kolor1: #BF6B82; 
    --kolor2: #D9A9B6; 
    --kolor3: #F2D0D9; 
    --kolor4: #D96C9F; 
    --kolor5: #F1F2F0; 
    --fontColor:black;
    --kolorOpinie:rgb(34, 31, 31);
    --arrowColor: #f94154;
}
.dark-theme{
    /* Color in Hex */
    --kolor1: #BF6B82; 
    --kolor2: #5c4b4f; 
    --kolor3: #4d4b4c; 
    --kolor4: #D96C9F; 
    --kolor5: #0D0D0D; 
    --fontColor:white;
    --kolorOpinie:#F1F2F0;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none !important;
    outline: none !important;
    font-weight: 400;
    transition: all .3s linear;
}
*::selection{
    background: black;
    color: white;
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: var(--kolor5);
}
.button{
    height: 3.5rem;
    width: 12rem;
    margin: 1.5rem;
    background-color: var(--kolor4);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 10%;
}
.button::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:var(--kolor1);
    z-index: -1;
    transition: .3s linear;
}
.button:hover:before{
    top: 0;
}
header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 2rem 1rem;
    z-index: 100;
    text-transform: capitalize;
    background-color: var(--kolor5);
}
.header-act{
    box-shadow: 0 .5rem .5rem rgba(217, 108, 159, 0.4);
    padding: 1.2rem 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .container .logo{
    font-size: 3rem;

}
header .container .logo span,footer .logo span{
    color:var(--kolor4)
}
header a,footer .logo{
    color: var(--fontColor) ;
}
header a:hover, footer.logo a:hover{
    color:var(--kolor4);
    
}
nav ul{
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex;
    justify-content: space-between;
    list-style: none;
}
ul li{
    margin: 0 1.5rem;
}
ul li a{
    font-size: 2rem;
    text-decoration: none ;
    white-space: nowrap;
}
.logo{
    text-decoration: none;
}
.fa-bars{
    font-size: 4rem;
    cursor: pointer;
    display: none;
    color: var(--kolor4);
}
.fa-toggle-on ,.fa-toggle-off{
    font-size: 3rem;
    cursor: pointer;
    color: var(--kolor4);
}

header .fa-times{
    transform: rotate(180deg);
}

.welcome-h1 h1{
    font-size: 3.5rem;
    color: var(--fontColor);
    padding: 0 2rem ;
}
.welcome-h1 span{
    font-size: 3.5rem;
    color: var(--kolor4);
}
.welcome-h1 p{
    font-size: 2rem;
    color: var(--fontColor);
    
}
.offert-1{
    margin: 1rem 0;
}
.offert-1 .qube{
    font-size: 2rem;
    color: var(--fontColor);
}
.offert-1 .qube h2{
    font-size: 3rem;
    color: var(--kolor4);
}

.offert-1 .qube i{
    font-size: 3rem;
    padding: 0 3rem;
    color: var(--kolor4);
}
.offert-1 .qube p{
    padding-left: 9rem;
}
.offert-2{
    text-align: right;
}
.offert-2 p{
    padding-right: 9rem;
}
/* slider */
.slider{
    height: 80vh;
    position: relative;
    margin: 2rem 1rem;
}
.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
img.actv{
    opacity: 1;
}
.nextt ,.provv{
    color: var(--arrowColor);
    font-size: 3rem;
    position: absolute;
    top:0;
    height: 100%;
    width: 30%;
}
.nextt{
    right: 3rem;
}
.provv{
    left: 3rem;
}
.nx,.pr{
    position: absolute;
    top: 50%;
}
.pr{
    left: 3rem;
}
.nx{
    right: 3rem;
}

.opinions{
    background: url('../images/opinions/background.jpg'), linear-gradient(var(--kolorOpinie),var(--kolorOpinie)) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.opinions h1, .offert h1{
    color: var(--kolor4);
    padding-top: 9rem;
}
.opinions .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.opinions .box{
    background-color: var(--kolor5);
    width: 35rem;
    margin: 5rem 1.5rem;
    padding: 1rem;
    position: relative;
 
}
.opinions .box img{
    position: absolute;
    bottom: -7rem;
    left: -1rem;
    height: 6rem;
    width: 6rem;
    border-radius:50% ;
    object-fit: cover;
}
.opinions .box p{
    font-size: 1.4rem;
    color: var(--fontColor);

}
.opinions .box h4{
    text-align: end;
    color: var(--kolor1);
    font-size: 1.7rem;
}
.opinions .box span{
    display: block;
    text-align: end;
    color: var(--fontColor);
    font-size: 1.5rem;
}
.counter .box-container, .contact .box-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.counter .box-container .box,.contact .box-container .box{
    min-width: 28%;
    margin: 3rem 3rem;
    text-align: center;
}
.counter .box-container .box i, .contact .box-container .box i{
    color: var(--kolor4);
    font-size: 4rem;
}
.counter .box-container .box span,.contact .box-container .box span{
    display: block;
    color: var(--fontColor);
    font-size: 4rem;
    padding: 1rem 0;
}
.counter .box-container .box h4,.contact .box-container .box h4{
    color: var(--kolor4);
    font-size: 2rem;
    text-transform: capitalize;
}
.contact{
    background: var(--kolor3);
    padding: 3rem 2rem;
}
.contact h1{
    color: var(--kolor4);
    padding-top: 6rem;
}
.contact .form{
    text-align: center;
}
.contact .form .inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .form .inputs input ,select{
    height: 3.5rem;
    margin: 1rem 0;
    width: 49%;
    padding: 0 1rem;
    font-size: 2rem;
    color: var(--fontColor);
}
.contact .form textarea{
    height: 20rem;
    resize: none;
    padding: 1rem;
    width: 100%;
}
.mail h4{
    text-transform: none !important;
}
.contact h4{
    margin-top: 2rem;
}
a{
    text-decoration: none;
    color: var(--kolor4);
}
a:hover{
    color: var(--kolor4);
}
footer{
    background: var(--kolor2);
}
footer p{
    color: var(--fontColor);
    font-size: 1.5rem;
    padding: 1rem 0;

}
.socialmedia{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
footer .box{
    min-width: 28%;
    margin: auto;
    text-align: center;
}
footer .box i{
    color: var(--arrowColor);
    font-size: 6rem;
}
footer .box i:hover{
    opacity: 0.7;
    transform: translateY(-10px);
    transition: 0.2s ease;
}
.copy-right{
    color: var(--fontColor);
    width: 90%;
    margin: 0;
    padding: 2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid var(--fontColor) !important;
}
footer h4{
    margin-top: 4rem;
    color: var(--fontColor) !important;
    font-size: 3rem;
}
#btn-back-to-top {
    background:none;
    font-size: 5rem;
    color: var(--arrowColor);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
#btn-back-to-top:hover{
    color: red;
}

/* media */
@media(max-width:768px){
    html{
        font-size: 50%;
    }
    .fa-bars{
        display: block;
    }
    .nav{
        position: fixed;
        top: -100%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        border-radius: 2.5rem !important;
        border: .3rem solid var(--kolor4) !important;
        background:var(--kolor5); 
        width: 90%;
        opacity: 0;
    }
    .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }
    .nav ul li{
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav ul li a{
        font-size: 2.5rem;
        display: inline-block;
    }
    .nav-toggle{
        top: 50%;
        opacity: 1;
    }
    .contact .form .inputs input ,select{
        width: 100%;
    }
}